# Generate requirements.txt using:
# pip-compile --upgrade --no-emit-index-url
# Install using:
# pip-sync

# Data mock
netCDF4~=1.7
xarray~=2025.1

# API
brotli-asgi~=1.4
fastapi~=0.115.11
gunicorn~=23.0
uvicorn[standard]~=0.34.0
covjson-pydantic~=0.5.0
edr-pydantic~=0.7.0
shapely~=2.0
geojson-pydantic~=1.2
